/* Gutenberg Styles */
@media(min-width: 600px){
  .wp-block-column{
    &.one-third{
      flex-basis: 33%;
    }
    &.two-thirds{
      flex-basis: 67%;
    }
    &.forty{
      flex-basis: 40%;
    }
    &.sixty{
      flex-basis: 60%;
    }
    &.solid{
      padding: .75rem 1.25rem;
      border: 1px solid transparent;
      border-radius: .25rem;
    }
    &.solid.blue{
      color: #0c5460;
      background-color: #d1ecf1;
      border-color: #bee5eb;
    }
  }
}