/* Gutenberg Styles */
@media(min-width: 600px){
  .wp-block-column{
    &.one-third{
      flex-basis: 33%;
    }
    &.two-thirds{
      flex-basis: 67%;
    }
    &.forty{
      flex-basis: 40%;
    }
    &.sixty{
      flex-basis: 60%;
    }
  }
}