/* Modular Content */

.modular{
  position: relative;
  padding-top: 60px;

  &.nomargins,
  &.nomargins.color{
    margin: 0;
  }

  &.tight-padding,
  &.tight-padding.color{
    padding-bottom: 15px;
    padding-top: 30px;
  }

  &.nomargins.full-width{
    padding-top: 0;
  }

  &.full-height{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.full-width.nomargins,
  &.nomargins.color{
    & + .footer{
      margin-top: 0;
    }
  }

  /* Edit Button */
  .edit-module{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .1rem .5rem;
    font-size: .75rem;
    background-color: rgba(red($triadblue),green($triadblue),blue($triadblue),0.65);
    border-color: rgba(red($triadblue),green($triadblue),blue($triadblue),0.65);
  }

  /* Fullwidth Rows */
  &.color{
    padding-bottom: 60px;
    margin-top: 30px;

    & + &{
      margin-top: 0;
    }

    & + footer#footer{
      margin-top: 0;
    }
  }

  &.grey{
    background: $triadlightgrey;

    h1,h2,h3,h4,h5,h6{
      color: lighten(#000,25%);
    }

    p, li{
      color: darken($triadtextgrey,20%);
    }
  }

  &.purple{
    background: $triadpurple;

    a:not(a.btn){
      color: #fff;

      &:hover{
        color: $triadyellow;
        text-decoration: underline;
      }
    }

    h1,h2,h3,h4,h5,h6,p{
      color: $triadyellow;

      a:not(.btn){
        color: $triadyellow;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }
    }

    p, li, .figure-caption{
      color: #fff;
    }
  }

  &.modular-callout{
    background-color: $triadblue;
    padding: 30px 0 34px;

    & + .footer{
      margin-top: 0;
    }

    div[class^="col-"]:first-child{
      @media (max-width: 991px) {
          margin-bottom: 20px;
      }
    }

    h3{
      color: $triadyellow;
    }

    p{
      color: #fff;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .row{
      align-items: center;
    }
  }

  &.modular-features{
    .header{
      text-align: center;

      h2{
        font-size: 26px;
        letter-spacing: .1px;
        font-weight: 400;
      }
      p{
        color: #5a6c90;
        margin-top: 15px;
        font-size: 16px;
        max-width: 680px;
        margin: 15px auto;
      }
    }
    .feature{
      margin-top: 50px;

      h3{
        font-size: 18px;
        margin-top: 20px;
        color: #2f4166;
      }
      p{
        color: #7080a2;
        line-height: 25px;
        font-size: 15px;
        margin-top: 15px;
        width: 87%;
      }
    }
  }
}