.aligncenter{
  text-align: center;
}
figure.aligncenter{
  margin: 1rem auto;
}
img.aligncenter{
  display: block;
  margin: 10px auto;
}
img.align-right{
  float: right;
  margin: 0 0 1rem 1rem;
}
.wp-caption-text{
  font-size: .9rem;
}