/* Bulk Discounts
 ----------------------------- */
.table-discounts{
  tr:last-child{
    td{
      border-bottom: 2px solid #dee2e6;
    }
  }
}

/* GravityForms
 ----------------------------- */
.gform_wrapper{
  .gform_button{
    background-color: $triadblue;
    border: 2px solid $triadblue;
    padding: .2rem 1rem;
    color: #fff;
    border-radius: 3px;

    &:hover{
      cursor: pointer;
      color: $triadblue;
      background-color: #fff;
    }
  }
  .ginput_container_fileupload{
    input.medium{
      width: 100% !important;
    }
  }
}
.gform_confirmation_wrapper{
  .gform_confirmation_message{
    font-size: 15px;
    font-weight: 400;
    color: #155724;
    background-color: #d4edda;

    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #c3e6cb;
    border-radius: .25rem;
  }
}

/* WooCommerce
 ----------------------------- */
.woocommerce{
  .coupon input.input-text{
    width: 200px !important;
  }
  p.woocommerce-SavedPaymentMethods-saveNew{
    input{
      margin-top: 9px;
      margin-right: 8px;
    }
  }

  button.wc-stripe-checkout-button{
    //@include bootstrap-button($triadblue);
    @include button-variant(#fff, $triadblue, $triadblue);
    border-radius: 3px;
    padding: 6px 16px;
    border: none;
  }

  #customer_details{
    margin-bottom: 2rem;

    label{
      display: block;
      width: 100%;
      margin-bottom: 0;
    }
    .input-text,
    .woocommerce-input-wrapper{
      width: 100%;
    }
    .form-row{
      .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 2.3;
      }
      .select2-container .select2-selection--single,
      .select2-container--default .select2-selection--single .select2-selection__arrow{
        height: 36px;
      }
    }

  }
  .product{
    .price{
      font-weight: bold;
      font-size: 1.75rem;
      float: left;
    }

    &.outofstock{
      .price{
        display: none;
      }
    }
    .stock{
      display: none;

      &.out-of-stock{
        display: block;
        background: $triadblue;
        color: $triadyellow;
        font-weight: bold;
        text-align: center;
        padding: 4px 10px;
      }
    }

    form.cart{
      float: right;
      display: flex;
      padding-top: 6px;

      input.text{
        font-size: 18px;
        height: 35px;
        margin-right: 4px;
      }
    }
  }
}
.woocommerce-notices-wrapper{
  position: fixed;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;

  &:empty{
    display: none;
  }

  .woocommerce-message{
    top: 20vh;
    width: 80%;
    max-width: 1040px;
    margin: 0 auto;
    padding-bottom: 26px;

    &:after{
      font-family: WooCommerce;
      content: '\e013';
      color: #c82127;
      position: absolute;
      right: 10px;
      top: 18px;
      cursor: pointer;
    }

    .button.wc-forward:after{

    }
  }
}
.admin-bar .woocommerce-notices-wrapper{
  top: 32px;
}