{% extends 'base.twig' %}

{% block content %}
  <div class="blog-cols-header">
    <div class="container">
      {#% do action('woocommerce_before_main_content') %#}

      <div class="before-shop-loop">
          {#% do action('woocommerce_before_shop_loop') %#}
      </div>

      {% if post.content is not empty %}
      <div class="row">
          <div class="col-12">{{ post.content }}</div>
      </div>
      {% endif %}
    </div>
  </div>

  <!--<div class="blog-cols-wrapper">
    <div class="container">
      {#% for post in products %}
        {% include ['woo/partials/tease-product.twig', 'tease.twig'] %}
      {% endfor %#}
    </div>
  </div>-->

  {#% do action('woocommerce_after_shop_loop') %#}
  {#% do action('woocommerce_after_main_content') %#}
{% endblock  %}