{% set is_blog_page = is_blog_page() %}
{% set nav_classes = ( is_blog_page )? 'navbar-light' : 'navbar-dark bg-transparent' %}
  <nav class="nav-main navbar navbar-expand-lg {{ nav_classes }}" id="nav-main"  role="navigation">
    <div class="container no-override">
      <a class="navbar-brand" href="{{ site.url }}">
        <img src="{{ fn('get_stylesheet_directory_uri') }}/images/logo-triad_{% if is_blog_page %}dark{% else %}light{% endif %}.800x301.png" class="d-lg-inline mr-2" />
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        {% include "menu.twig" with {'menu': menu.get_items} %}
      </div>
    </div>
  </nav><!-- #nav -->