{% extends "base.twig" %}

{% block content %}
<section id="content" role="main" class="content-wrapper container">
  <h3>Restricted</h3>
  <p>This resource is password protected. Please enter the password in the form below to view it:</p>
	<form class="password-form" action="{{site.site_url}}/wp-login.php?action=postpass" method="post">
		<!--<label for="pwbox-{{post.ID}}">Password:</label>-->
		<input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password..." size="20" maxlength="20" aria-label="Password..." />
		<input class="password-btn" type="submit" name="Submit" value="Submit" />
	</form>
</section>
{% endblock %}
